*{
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
}
#register{
    background-color: rgba(255,255,255,0.2);
    border: 1px black solid;
    padding:60px 30px;
    padding-top: 10px;
    font-size: 18px;
    color: aqua;
    
}
caption{
    margin-bottom: 30px;
    color:lightgreen;
}
button{
    margin-top: 20px;
    width: 330px;
    height: 40px;
    background-color: aquamarine;
}
button:hover{
    background-color: aqua;
}
p{
    position: absolute;
    bottom: 180px;
}
a{
    color: lightblue;
}
a:hover{
    color: red;
}

